<div class="registerContainer">
    <form id="formRegister">
            <h2>Register</h2>
        <div class="div-form">
            <label for="first_name">First Name:</label>
            <input type="text" class="formInput" id="first_name" placeholder="Enter First Name" name="first_name" required autocomplete="current-first_name">
        </div>
        <div class="div-form">
            <label for="last_name">Last Name:</label>
            <input type="text" class="formInput" id="last_name" placeholder="Enter Last Name" name="last_name" required autocomplete="current-last_name">
        </div>
        <div class="div-form">
            <label for="age">Age:</label>
            <input type="number" class="formInput" id="age" placeholder="Enter Age" name="age" required autocomplete="current-ege">
        </div>
        <div class="div-form">
            <label for="email">Email:</label>
            <input type="email" class="formInput" id="email" placeholder="Enter Email" name="email" required autocomplete="current-email">
        </div>
        <div class="div-form">
            <label for="password">Password:</label>
            <input type="password" class="formInput" id="password" placeholder="Enter Password" name="password" required autocomplete="current-password">
        </div>
        <button type="submit" class="registerButton">Submit</button>
        <div class="signupButton">
         <a href="/login">Ya tengo una cuenta</a>
        </div>
    </form>
</div>